.items-container {
  margin-left: 10px;
  padding: 5px;
  background-color: aqua;
}

.checkout-container {
  margin-right: 10px;
  margin-left: auto;
  padding: 5px;
  padding-bottom: 0px;
  background-color: lightblue;
}

.item {
  float: left;
  margin: 15px;
  padding: 20px;
  height: 100px;
  text-align: center;
  background-color: pink;
}

.checkout-footer {
  margin: 15px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 20px;
  height: 75px;
  text-align: center;
  background-color: yellow;
}
